p {
    margin: 10px 0 !important;
}
.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

body > div.container > div > div:nth-child(2) > div > div.card-content.center-align > p {
    word-break: break-all;
}